body { 
    background-color: rgb(213, 178, 202);
}
#introduction {
    background-color: rgb(128, 71, 112);
}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 15px;
}
.list {
    background-color: rgb(208, 139, 165);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.main {
    background-color: rgb(160, 150, 216);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}